.feature-card-feature-card {
  min-height: var(--dl-size-size-xlarge);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.feature-card-feature-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.feature-card-icon {
  margin-right: 0px;
}
.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: column;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}
